* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: 'Poppins', sans-serif;
  color: #333;
}

@media (max-width: 480px) {
  body {
    background: #f2f2f2;
    width: 100%;
  }
  header {
    text-align: center;
    .headerBorder {
      width: 100%;
      height: 25px;
      background: #333;
      margin-bottom: 50px;
    }
    .headerText {
      padding: 0 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        font-size: 22px;
        color: #000;
        font-weight: bold;
      }
    }
    h2 {
      font-size: 15px;
      margin: 5px 0 70px 0;
    }
  }
  .hero {
    position: relative;
    height: 400px;
    width: 90%;
    margin: 0 auto;
    span {
      display: inline-block;
      position: absolute;
    }
    .radius1 {
      width: 150px;
      height: 130px;
      background: #94bae2;
      border-radius: 30% 70% 19% 81% / 30% 30% 70% 70%;
      right: 0;
      top: -10%;
      z-index: -1;
    }
    .radius2 {
      width: 100px;
      height: 200px;
      background: #f7931e;
      border-radius: 83% 17% 19% 81% / 89% 58% 42% 11%;
      right: 20%;
      z-index: -1;
    }
    .radius3 {
      width: 200px;
      height: 100px;
      background: #00ff00;
      border-radius: 83% 17% 93% 7% / 21% 76% 24% 79%;
      bottom: 30%;
      right: 10%;
      z-index: -1;
    }
    .radius4 {
      width: 200px;
      height: 400px;
      background: #ffff00;
      border-radius: 38% 62% 93% 7% / 71% 30% 70% 29%;
      left: 10%;
      top: -10%;
      z-index: -2;
    }
    &-container {
      // position: absolute;
      &:nth-of-type(1) {
        margin-bottom: 70px;
      }
      &-inner {
        display: flex;
        align-items: center;
        h1 {
          font-size: 18px;
        }
        img {
          width: 27px;
          object-fit: cover;
          margin-right: 5px;
        }
      }
      &-text {
        font-size: 11px;
        font-weight: 800;
        margin-left: 30px;
      }
    }
  }
  .main {
    margin-top: 20px;

    &-container {
      width: 85%;
      margin: 0 auto;
      background: #fff;
      position: relative;
      padding-bottom: 80px;
      &-bg {
        width: 90%;
        background: #ffff00;
        height: 1000px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 10%;
        border-radius: 29% 71% 24% 76% / 26% 10% 90% 74%;
      }
      &-greenBorder {
        width: 100%;
        background: #22b573;
        height: 20px;
      }
      .mainText {
        text-align: center;
        display: inline-block;
        position: absolute;
        left: -8%;
        top: 4%;
        width: 120%;
        color: #ffffff; /* 文字の色 */
        font-size: 28px; /* 文字のサイズ */
        // letter-spacing: 4px; /* 文字間 */
        text-shadow: 2px 2px 1px rgb(227, 79, 79), -2px 2px 1px rgb(227, 79, 79),
          2px -2px 1px rgb(227, 79, 79), -2px -2px 1px rgb(227, 79, 79),
          2px 0px 1px rgb(227, 79, 79), 0px 2px 1px rgb(227, 79, 79),
          -2px 0px 1px rgb(227, 79, 79), 0px -2px 1px rgb(227, 79, 79);
      }
      &-inner {
        margin-top: 150px;
        position: relative;
        .nameRed {
          border-bottom: 10px solid rgb(227, 79, 79);
          margin-left: 0;
          text-align: right;
          margin-right: 30px;
          &::after {
            content: '紅';
            color: rgb(227, 79, 79);
          }
        }
        h2 {
          margin-left: 50px;
          border-bottom: 10px solid white;
          position: relative;
          &::after {
            content: '白';
            position: absolute;
            font-size: 70px;
            right: 35%;
            top: -120%;
            opacity: 0.9;
            color: #fff;
          }
        }
        .rightText {
          margin-left: 120px;
        }
        &-text {
          position: absolute;
          left: 10%;
          top: 130%;
          p {
            &:nth-of-type(1) {
              font-size: 12px;
              padding-bottom: 5px;
            }
            &:nth-of-type(2) {
              font-size: 10px;
            }
          }
        }

        &-img {
          width: 50%;
          position: absolute;
          top: -60%;
          right: -5%;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
        .leftImg {
          top: 0;
          bottom: 0;
          left: 0;
        }
      }
      &-artist {
        text-align: center;
        position: relative;
        margin-top: 130px;
        span {
          display: inline-block;
          border-bottom: 3px solid #22b573;
          width: 70%;
          font-weight: bold;
          margin-bottom: 5px;
        }
        p {
          width: 80%;
          margin: 0 auto;
          font-size: 13px;
          font-weight: bold;
        }
      }
    }
  }

  .interview {
    padding-top: 55px;
    width: 100%;
    background: #ffff00;
    position: relative;
    z-index: 3;
    padding-bottom: 5px;
    &-header {
      position: absolute;
      top: -5%;
      .hederImg1 {
        width: 300px;
        position: relative;
        display: inline-block;
        margin-left: 45px;
      }
      &-text {
        position: absolute;
      }
      p {
        position: absolute;
        width: 100%;
        font-size: 12px;
        font-weight: bold;
        top: 32%;
        right: -60px;
      }
    }

    &-container {
      width: 90%;
      margin: 0 auto;
      background: white;
      border: 3px solid #000;
      margin-bottom: 40px;
      &-title {
        font-size: 15px;
        margin: 30px 0;
        position: relative;
        display: block;
        font-weight: bold;
        text-align: center;
        &::before {
          content: '';
          border-left: 5px solid #22b573;
          padding-right: 8px;
        }
      }
      &-inner {
        width: 90%;
        margin: 0 auto;
        &-question {
          display: flex;
          background: #ffff00;
          border: #000 solid 2px;
          padding: 10px 20px;
          justify-content: space-evenly;
          align-items: center;
          img {
            display: block;
            width: 20px;
            object-fit: contain;
          }
          p {
            font-size: 10px;
            font-weight: bold;
            position: relative;
            &::after {
              content: '';
              position: absolute;
              width: 5px;
              height: 5px;
              border: 2px solid;
              border-color: transparent transparent #22b573 #22b573;
              margin-left: 7px;
              // top: 50%;
              transform: translateY(-50%);
              transform: rotate(-45deg);
            }
          }
        }
        .mustPadding {
          padding: 0 25px;
          p {
            text-align: left;
          }
        }
        &-answer {
          background: #22b573;
          border: 2px solid #000;
          margin: 5px 0 25px 0;
          p {
            color: white;
            font-size: 12px;
            text-align: center;
            padding: 10px 0;
            font-weight: bold;
          }
        }
      }
    }
  }
  .footer {
    background: #333;
    p {
      small {
        color: #ddd;
        font-size: 1px;
      }
      text-align: center;
      padding: 20px 0 5px 0;
    }
  }
}
